{{!< default}}
{{!-- Homepage with cover image and description --}}

<div class="home-layout">
    <div class="home-container">
        {{!-- Left: Cover image (2/3) --}}
        <div class="home-image">
            {{#if @site.cover_image}}
                <img src="{{@site.cover_image}}" alt="{{@site.title}}" />
            {{else}}
                <div class="home-image-placeholder">
                    <h1 class="home-placeholder-text">{{@site.title}}</h1>
                </div>
            {{/if}}
        </div>

        {{!-- Right: Description and links (1/3) --}}
        <div class="home-content">
            <div class="home-content-inner">
                <h1 class="home-title">{{@site.title}}</h1>

                {{#if @site.description}}
                    <p class="home-description">{{@site.description}}</p>
                {{/if}}

                <nav class="home-nav">
                    <a href="/portfolio" class="home-nav-link">portfolio</a>
                    <a href="/contact" class="home-nav-link">contact</a>
                </nav>
            </div>
        </div>
    </div>
</div>

